
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

body {
  font-family: 'Roboto Slab', serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.font-heading {
  font-family: 'Michroma', sans-serif;
  letter-spacing: -0.02em;
}

.font-serif {
  font-family: 'Roboto Slab', serif;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #f3f4f6 1px, transparent 1px),
                    linear-gradient(to bottom, #f3f4f6 1px, transparent 1px);
}
